@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
    font-family: serif;
    font-size: 15px;
}
#head1{
    text-align: center;
    margin-bottom: 6%;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.container{ 
    padding: 2% 5% 2% 5%;
    margin: 5% 25% 10% 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}
.d1 input{
    width: 45%;
    padding: 2%;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    margin: 10px 0;
}
.d2{
   margin: 10px 0 10px 0; 
}
.d2 input{
    cursor: pointer;
    margin: 0% 2%;
}
.dat1{
    margin-left: 40%;
}
.m2{
    margin-left: 44%;
}
.cour1{
    margin-left: 43%;
}
.d3 label{
    margin: 0%;
}
.d3 input{
    width: 38%;
    padding: 2%;
    margin: 10px 0 10px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid;
}
.caddress textarea{
    width: 95%;
    padding: 1%
}
#address1{
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.caddress{
    margin: 10px 0 10px 0;
}

.d4 select{
    margin-top: 1px;
    width: 48%;
    padding: 2%;
    margin-bottom: 2%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.d5 select{
    display: none;
}
.d5 input{
    width: 45%;
    padding: 2%;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    
}
.d6 select{
    margin-top: 1px;
    width: 48%;
    padding: 2%;
    margin-bottom: 2%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.d6 input{
    width: 45%;
    padding: 2%;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    
}
#city1{
    margin-left: 44%;
}
#role1{
    margin: 37%;
}
.sbtn{
    margin-left: 35%;
    margin-top: 5%;
    font-size: 20px;
    padding: 2% 10% 2% 10%;
    color:black;
    cursor: pointer;
}
.sbtn:hover{
    background-color: blueviolet;
    transition: all 1.0s;
    color: white;
}

